*root{
box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 960px;
    background-color: darkgrey;
}

.gameContainer{
    display: inline;
    justify-content: center;
    margin: 10px;;
    
}

.header{
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 960px;
    margin: auto;
    background-color: rgb(238, 255, 0);
   
}
.welcome{
    display: flex;
    justify-content: center;
    font-size: 40px;
    width: 900px;
    margin: auto;
    padding:15px 30px 15px 30px;
    border-top:8px solid lightslategrey;
    background-color: rgb(28, 197, 127);
}

.venue{
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 960px;
    margin: auto;
    background-color: rgb(26, 221, 172);
    
}

.scoreBoardMain{
    border: 1px dashed black;
    height: 50px;
}

.main{
   
    flex-direction:row;
    /* border: 1px solid black; */
    text-shadow: 2px 2px 4px rgb(65, 61, 61);
}

.reset{
    display: flex;
    margin:20px auto;
    justify-content: center;
    
}

.scoreBoard{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;
    width: 500px;
    background: rgb(253, 15, 86);
  
}

.versus{
    display: flex;
    /* border: 1px solid black; */
    width:700px;
    height: 70px;
    justify-content: center;
    margin-top: 55px;
    padding-top: 10px;
    font-size: 60px;
    text-shadow: 1px 1px 3px lightgrey;
    background: rgb(81, 84, 248);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    font-size:30px;
    background-color: cadetblue;
    padding: 10px;
    height: 200px;
    width: 328px;
    
}
.logo{
    width: 100px;
    height: 64px;
    margin: 0px auto 3px;
}

p{
    margin: 4px;
    font-size: 15px;
}

button{
    
    justify-content: center;
    box-shadow:2px 2px 5px black ;
    margin: 3px;
 
}

button{
    border: 10px;
    justify-content: center;
    box-shadow:2px 2px 5px black ;
    margin: 3px;
 
}


.field{
margin-bottom: 10px;
   
}



